.myAccount{
    display: flex;
    flex-direction: column;
    width: 250px;
    min-height: 100px;
    background-color: white;
}

.myAccount__Section{
    margin-top: 20px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myAccount__Section > button{
    background: #f0c14b;
    border-radius: 2px;
    border: 1px solid;
    width: 90%;
    height: 30px;
    border-color:  #a88734 #9c7e31 #846a29;
}


.signOut__button{
    background: #f0c14b;
    border-radius: 2px;
    border: 1px solid;
    width: 90%;
    height: 30px;
    margin-top: 10px;
    border-color:  #a88734 #9c7e31 #846a29;
}